.row {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    /* align-items: center; */
    align-items: flex-start;
}
.col {
    background-color: lightgray;
    padding: 10px;
    border: 1px solid red;
    text-align: justify;
    /* top right bottom left */
    /* margin: 10px 12px 14px 16px; */

    /* top left+right bottom */
    /* margin: 10px 12px 14px; */

    /* top/bottom left+right */
    /* margin: 0px 12px; */
}

.col-1 {
    width: 20%;
}
.col-2 {
    width: 40%;
    /* background-image: url("......"); */
}
.col-3 {
    width: 20%;
}